 <section class="doctors" id="doctors">
                <h1>Doktorlar</h1>
                <div class="container">

                    <div class="card">
                        <div class="photo">
                            <img src="images/doctor.jpg" alt="">
                        </div>
                        <div class="content">
                            <h5>Sa'dullayev Hasanboy</h5>
                            <p class="pp">Travmatolog - <span>Bepul <i class="fa-solid fa-star"></i></span></p>
                            <p>Dushanba - Juma, 09:00-14:00 <i class="fa-solid fa-clock"></i></p>
                            <a href="#" class="btn">Batafsil</a>
                        </div>
                    </div>
                </div>
</section>
