    <section class="single__page">
                <div class="container">
                    <div class="card">
                        <div class="photo">
                            <img src="images/doctor-2.jpg" alt="">
                        </div>
                        <div class="content">
                            <p><span>To'liq ismi:</span> Sa'dullayev Hasanboy</p>
                            <p><span>Telefon:</span> +998 94 274 20 07</p>
                            <p><span>Ish joyi:</span> Pop tumani poliklinika</p>
                            <p><span>Ish vaqti:</span> Dushanba - Juma, 09:00-14:00</p>
                            <p><span>Mutaxassislik:</span> Travmatolog</p>
                            <p><span>Ko'rik narxi: </span>Bepul</p>
                            <p><span>Qo'chimcha ma'lumotlar:</span> Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Placeat
                                id quasi, iure reprehenderit aspernatur, necessitatibus quis quidem saepe, officiis
                                earum commodi eveniet repudiandae tempore cumque iste dolorum! Autem, reprehenderit fuga
                                laudantium quaerat corrupti consequatur maxime earum velit iusto cupiditate asperiores
                                pariatur, perspiciatis consectetur, saepe neque deserunt voluptatibus aut fugiat vitae
                                sapiente! Porro voluptatibus, omnis similique cum fugit fuga modi magni id obcaecati
                                iste molestias vero reiciendis ipsa sunt alias voluptatum delectus nostrum autem
                                distinctio libero quasi asperiores maiores laborum. Perferendis delectus at placeat? Eos
                                error dicta illum rerum enim perspiciatis laboriosam repellat adipisci commodi
                                doloremque nisi optio, esse cum iure voluptatem alias nobis iste eum quis? Repudiandae
                                cumque vel explicabo laborum autem ipsam repellat ducimus animi beatae aperiam. Quia,
                                accusamus.</p>
                        </div>
                    </div>
                </div>
            </section>